# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.env

# MLflow local
mlruns/

# Dados gerados
data/intermediate/
data/final/

# Notebooks
.ipynb_checkpoints/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
